<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="witAccessToken" value="QPHDJSRCXCXFMGLDTAQTFXYRU4HY7WYM"/>
		<add key="todoistAccessToken" value="7ce6336751321a8ab9dc6904782ab7f00621e17f"/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>